<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valores y acerca de</title>
    <link rel="stylesheet" href="../normalize.css">
    <link rel="stylesheet" href="values.css">
</head>
<body>
    <header>
        <nav class="header__nav">
            <ul class="header__ul">
                <li class="header__li"><a href="">Inicio</a></li>
                <li class="header__li"><a href="#">Valores y acerca de</a></li>
                <li class="header__li"><a href="../feedback/feedback.html">Feedback</a></li>
            </ul>
        </nav>
    </header>
    <article>
        <section class="mision">
            <h2>Misión</h2>
            <p>Facilitar la gestión de la asistencia escolar mediante la implementación de un Sistema de Registro de Asistencia basado en tecnología RFID (Radio-Frequency Identification). Nuestra misión es proporcionar a las escuelas una herramienta eficiente y precisa que permita llevar un registro automatizado de la asistencia de los alumnos, contribuyendo así a la mejora del proceso educativo y garantizando una comunicación transparente con los padres y tutores.</p>
        </section>
        <section class="vision">
            <h2>Visión</h2>
            <p>Nos visualizamos como líderes en la innovación educativa, proporcionando soluciones tecnológicas avanzadas que promueven la eficiencia en la gestión escolar. Buscamos crear un entorno donde la asistencia sea registrada de manera automatizada, brindando a los padres y tutores acceso en tiempo real a la información relevante sobre la asistencia y el rendimiento académico de sus hijos. A través de nuestro sistema, aspiramos a fortalecer la colaboración entre la escuela y la familia para garantizar el éxito educativo de cada alumno.</p>
            <ul>
                <li><b>Desarrollo de la Tecnología RFID:</b>Diseñar y poner en marcha un sistema RFID robusto que permita el registro de la asistencia de manera automatizada y segura.</li>
                <li><b>ntegración con la Base de Datos:</b> Conectar el sistema RFID a una base de datos centralizada que almacene la información de asistencia de cada alumno.</li>
                <li><b>Notificaciones en Tiempo Real:</b>Implementar un sistema de notificaciones automatizadas que informe a los padres y tutores sobre la situación actual de asistencia de sus hijos, proporcionando detalles específicos.</li>
                <li><b>Interfaz Intuitiva y Accesible:</b>Desarrollar una interfaz fácil de usar para la escuela, padres y tutores, que permita un acceso rápido y sencillo a la información relevante.</li>
                <li><b>Seguridad y Privacidad:</b> Garantizar la seguridad de los datos y la privacidad de los estudiantes, cumpliendo con las normativas y estándares de protección de datos.</li>
                <li><b>Capacitación y Soporte: </b>Proporcionar capacitación adecuada a los usuarios del sistema y ofrecer un soporte técnico eficiente para garantizar su implementación exitosa y el uso continuo.</li>
                <li><b>Evaluación Continua:</b>Establecer un proceso de evaluación y mejora continua para adaptarse a las necesidades cambiantes de las escuelas y los padres, asegurando la eficacia y la satisfacción a largo plazo.</li>
            </ul>
        </section>
    </article>
    <footer>
        <p><b>Proyecto realizado por: </b> Olaf Tzanahua Jiménez, Edmundo Isaac Gutiérrez Santos, Katya Jarely Perez Rico y Eduardo Florentino Sánchez</p>
    </footer>
</body>
</html>