<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="estiloLogin.css">
    <link rel="stylesheet" href="../normalize.css">
    <script src="scriptLogin.js" defer></script>
</head>
<body>
    <header>
        <div class="saludo"><h1>Hola nuevamente </h1></div>
        <nav class="nav">
            <ul class="nav__ul">
                <li class="nav__li"><a href="#">Valores y acerca de</a></li>
                <li class="nav__li"><a href="../feedback/feedback.html">Feedback</a></li>
            </ul>
        </nav>
</header>
<section>
    <h2 class="section__titulo">Sistema de registro de asistencias</h2>
    <hr>
    <div class="contenedorRegistro">
        <h3 class="contenedorRegistro__h3">Ingresar con Matrícula y CURP</h3>
        <form class="section__form">
            <label>Matrícula</label> <input type="text" class="form__input-matricula" placeholder="Ingresar matrícula">
            <br>
            <label>CURP</label> <input type="text" class="form__input-CURP" placeholder="Ingresar CURP">
            <button class="form__button">Ingresar</button>
        </form>
    </div>
</section>
<footer>

</footer>
</body>
</html>