<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="estiloLogin.css">
    <link rel="stylesheet" href="../normalize.css">
    <script src="scriptLogin.js" defer></script>
</head>
<body>
    <header>
        <div class="saludo"><h1>Hola nuevamente</h1></div>
        <nav class="header__nav">
            <ul class="header__ul">
                <li class="header__li"><a href="#">Valores y acerca de</a></li>
                <li class="header__li"><a href="../feedback/feedback.html">Feedback</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <h2 class="section__titulo">Sistema de registro de asistencias</h2>
        <hr>
        <div class="contenedorRegistro">
            <h3 class="contenedorRegistro__h3">Ingresar con Matrícula y CURP</h3>
            <form class="section__form">
                <label>Matrícula</label> <input type="text" class="form__input-matricula" placeholder="Ingresar matrícula">
                <!--Aquí va el action de la matrícula del alumno-->
                <br>
                <label>CURP</label> <input type="text" class="form__input-CURP" placeholder="Ingresar CURP">
                <!--Aquí va el action de el CURP del alumno-->
                <button class="form__button">Ingresar</button>
                <!--En el botón es donde se envian los datos-->
            </form>
        </div>
    </section>
    <aside>
        <button class="objetivo">Objetivo<img id="flechaAbajo" src="../static/arrowDown.svg"></button>
        <p class="objetivo-p">El objetivo de este proyecto es desarrollar una plataforma para gestionar la asistencia de los estudiantes de una institución educativa mediante la implementación de identificaciones RFID en las credenciales de los alumnos. Esta plataforma notificará a los padres de familia a través de correo electrónico sobre la entrada, salida y horario de cada clase de sus hijos.</p>
    </aside>
    <footer>
        <p><b>Proyecto realizado por: </b> Olaf Tzanahua Jiménez, Edmundo Isaac Gutiérrez Santos, Katya Jarely Perez Rico y Eduardo Florentino Sánchez</p>
    </footer>
    <script src="scriptLogin.js"></script>
</body>
</html>