<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retroalimentación</title>
    <link rel="stylesheet" href="estiloFeedback.css">
    <link rel="stylesheet" href="../normalize.css">
</head>
<body>
    <header>
        <nav class="header__nav">
            <ul class="header__ul">
                <li class="header__li"><a href="#">Inicio</a></li>
                <li class="header__li"><a href="../values/values.html">Valores y acerca de</a></li>
                <li class="header__li"><a href="#">Feedback</a></li>
            </ul>
        </nav>
    </header>
    <form action="/procesar-feedback" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
    
        <label for="correo">Correo electrónico:</label>
        <input type="email" id="correo" name="correo" required>
    
        <label for="comentario">Comentario:</label>
        <textarea id="comentario" name="comentario" rows="4" required></textarea>
        <input type="submit" value="Enviar feedback">
    </form>
</body>
</html>