<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="estiloLogin.css">
    <link rel="stylesheet" href="normalize.css">
    <link rel="icon" href="static/iconLogin.png">
</head>
<body>
    <div class="form">
        <h1>Iniciar sesión</h1>
        <form method="post">
            <div class="nombreUsuario">
                <img class="person" src="static/person.svg">
                <input type="text" placeholder="Nombre de usuario o correo electrónico" required>
            </div>
            <div class="contrasenaUsuario">
                <img class="key" src="static/key.svg">
                <input type="password" required placeholder="Contraseña">
            </div>
            <div class="recordar">
                <a href="#">¿Olvido su contraseña?</a>
            </div>
            <input type="submit" class="iniciarSesion" value="Iniciar sesión">
            <div class="registrarse">
                ¿No tienes cuenta? <a href="#">Registrarse</a>
            </div>
        </form>
    </div>
</body>
</html>