<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="estiloLogin.css">
    <link rel="stylesheet" href="normalize.css">
    <link rel="icon" href="static/iconLogin.png">
    <script src="loginScript.js"></script>
</head>
<body>
    <div class="form">
        <h1>Iniciar sesión</h1>
        <form method="post">
            <div class="nombreUsuario">
                <img class="person" src="static/person.svg">
                <input type="text" placeholder="Nombre de usuario o correo electrónico" required>
            </div>
            <div class="contrasenaUsuario">
                <img class="key" src="static/key.svg">
                <input type="password" required placeholder="Contraseña">
            </div>
            <div class="recordar">
                <a href="#">¿Olvido su contraseña?</a>
            </div>
            <input type="submit" class="iniciarSesion" value="Iniciar sesión">
            <div class="avisoRegistro">
                ¿No tienes una cuenta? <a onclick="mostrarRegistro()">Registrarse</a>
            </div>
        </form>
    </div>
    <div class="formRegistro">
        <h1>Registrarse</h1>
        <form method="post">
            <div class="nombreCompleto">
                <img src="static/fullName.svg" class="fullName">
                <input type="text" placeholder="Nombre completo" required>
            </div>
            <div class="correoElectronico">
                <img src="static/mail.svg" class="mail">
                <input type="email" placeholder="Correo electrónico" required>
            </div>
            <div class="user">
                <img class="userImg" src="static/person.svg">
                <input type="text" placeholder="Usuario">
            </div>
            <div class="contrasena">
                <img class="contrasenaImg" src="static/key.svg" required>
                <input type="password" placeholder="Contraseña">
            </div>
            <div class="registrarse">
                <input type="submit" class="registrar" value="Registrarse">
            </div>
            <div class="avisoIniciarSesion">
                ¿Ya tienes una cuenta? <a onclick="mostrarLogin()">Iniciar sesión</a>
            </div>
        </form>
    </div>
</body>
</html>